{{#each barbers as |barber|}}


  <ul data-id="{{barber.id}}">
    <h5 class="name-result">{{barber.name}}:</h5>
    <li>Shop: {{barber.shop_name}}</li>
    <li>Phone: {{barber.phone}}</li>
    <li>Zip: {{barber.zip}}</li>
    <li>Services: {{barber.services}}</li>
    <li>Max Price: ${{barber.max_price}}</li>
    <li>Busiest Day: {{barber.busiest_day}}</li>
    <li>Busiest Time: {{barber.busiest_time}}</li>
    <li>Rating: {{barber.average_rating}}</li>
  </ul>
  <br>

{{/each}}
<!-- <button id='clear'>Clear Results</button> -->
