
  <ul data-id="{{customer.id}}">
    <h5 class="name-result">{{customer.name}}:</h5>
    <li>Preferred Location: {{customer.zip}}</li>
    <li>Your Hairstyle: {{customer.services}}</li>
    <li>Your Max Price: ${{customer.max_price}}</li>
    <li>Most Convienent Day: {{customer.best_day}}</li>
    <li>Most Convienent Time: {{customer.best_time}}</li>
  </ul>
